AA_Review_Part_II_Send_email_to_Opp_Owner-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>invocableContextErrorEmail</name>
        <label>Context Error Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Process Failed to Execute</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The AA_Review_Part_II_Send_email_to_Opp_Owner-1 invocable process failed to start because no records in your org match the record Id specified. In the entities that invoke AA_Review_Part_II_Send_email_to_Opp_Owner-1, such as other processes, check the value for this input: SObjectId.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>aminas@google.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>invocableSObjectErrorEmail</name>
        <label>SObject Or Id Error Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Process Failed to Execute</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The AA_Review_Part_II_Send_email_to_Opp_Owner-1 invocable process failed to start because a valid value wasn&apos;t found. This can happen when entities that invoke AA_Review_Part_II_Send_email_to_Opp_Owner-1, such as other processes, don&apos;t have values for either the SObject or SObjectId. For example: 
-An SObject or SObject ID wasn&apos;t specified.
-A value might have been included, but it was null at runtime. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>aminas@google.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Notify_Opp_Owner_of_Completely_Reviewed_AA</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Notify Opp Owner</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Notify_Opp_Owner_of_Completely_Reviewed_AA</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sobjectInputCheckDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>invocableContextCheckDecision</name>
        <label>Context Check Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>invocableContextErrorEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>invocableContextCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>SObject Context Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>None</label>
        </rules>
    </decisions>
    <decisions>
        <name>sobjectInputCheckDecision</name>
        <label>SObject Input Check Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>invocableSObjectErrorEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>sobjectInputCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>SObject Not Null</label>
        </rules>
        <rules>
            <name>sobjectIdInputCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myInvocableContextRecordLookup</targetReference>
            </connector>
            <label>SObject Id Not Null</label>
        </rules>
    </decisions>
    <description>Sends an email alert to the associated opp owner</description>
    <formulas>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>AA_Review_Part_II_Send_email_to_Opp_Owner-1_Opportunity</interviewLabel>
    <label>AA Review Part II - Send email to Opp Owner</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </processMetadataValues>
    <processType>InvocableProcess</processType>
    <recordLookups>
        <name>myInvocableContextRecordLookup</name>
        <label>myInvocableContextRecordLookup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>invocableContextCheckDecision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObjectId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>SObject</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsDeleted</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>TotalOpportunityQuantity</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>NextStep</queriedFields>
        <queriedFields>LeadSource</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>IsWon</queriedFields>
        <queriedFields>ForecastCategory</queriedFields>
        <queriedFields>ForecastCategoryName</queriedFields>
        <queriedFields>CampaignId</queriedFields>
        <queriedFields>HasOpportunityLineItem</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>CreatedById</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <queriedFields>LastModifiedById</queriedFields>
        <queriedFields>SystemModstamp</queriedFields>
        <queriedFields>LastActivityDate</queriedFields>
        <queriedFields>FiscalQuarter</queriedFields>
        <queriedFields>FiscalYear</queriedFields>
        <queriedFields>Fiscal</queriedFields>
        <queriedFields>LastViewedDate</queriedFields>
        <queriedFields>LastReferencedDate</queriedFields>
        <queriedFields>HasOpenActivity</queriedFields>
        <queriedFields>HasOverdueTask</queriedFields>
        <queriedFields>Age__c</queriedFields>
        <queriedFields>Contract_Type__c</queriedFields>
        <queriedFields>Quota__c</queriedFields>
        <queriedFields>Static_IPs_Sent__c</queriedFields>
        <queriedFields>Local_Representative__c</queriedFields>
        <queriedFields>Unit_Line_Id__c</queriedFields>
        <queriedFields>National_Representative__c</queriedFields>
        <queriedFields>Notes__c</queriedFields>
        <queriedFields>Payment_Plans__c</queriedFields>
        <queriedFields>CLT_Priority__c</queriedFields>
        <queriedFields>CRM_Document__c</queriedFields>
        <queriedFields>Property__c</queriedFields>
        <queriedFields>Date_Start__c</queriedFields>
        <queriedFields>Date_10__c</queriedFields>
        <queriedFields>Date_50__c</queriedFields>
        <queriedFields>Date_90__c</queriedFields>
        <queriedFields>Date_100__c</queriedFields>
        <queriedFields>Days_to_Close__c</queriedFields>
        <queriedFields>Number_of_Utility_Lines_Verified__c</queriedFields>
        <queriedFields>Reason_for_Not_Attending_Blitz_Week__c</queriedFields>
        <queriedFields>Easy_Hard_ISO__c</queriedFields>
        <queriedFields>Team__c</queriedFields>
        <queriedFields>Number_of_Greenfield_Units__c</queriedFields>
        <queriedFields>Marketing_Blackout__c</queriedFields>
        <queriedFields>Utility_Line__c</queriedFields>
        <queriedFields>Fiberhood__c</queriedFields>
        <queriedFields>Date_Lost__c</queriedFields>
        <queriedFields>Forecast_Units__c</queriedFields>
        <queriedFields>Forecast_Amount__c</queriedFields>
        <queriedFields>Date_of_Status__c</queriedFields>
        <queriedFields>Priority__c</queriedFields>
        <queriedFields>Latest_Activity__c</queriedFields>
        <queriedFields>Location_of_Partner__c</queriedFields>
        <queriedFields>Property_Classification_v2__c</queriedFields>
        <queriedFields>Number_of_Units_Estimated__c</queriedFields>
        <queriedFields>Rating__c</queriedFields>
        <queriedFields>Primary_Lost_Reason__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Permitting_Discussion_Stage__c</queriedFields>
        <queriedFields>Greenfield_Status__c</queriedFields>
        <queriedFields>isSMB__c</queriedFields>
        <queriedFields>Days_since_deal_won__c</queriedFields>
        <queriedFields>Account_Type__c</queriedFields>
        <queriedFields>Simba_ID__c</queriedFields>
        <queriedFields>Survey_Schedule_Date__c</queriedFields>
        <queriedFields>UNIQUE_ID__c</queriedFields>
        <queriedFields>Billing_Address_old__c</queriedFields>
        <queriedFields>Billing_City_old__c</queriedFields>
        <queriedFields>Billing_State_old__c</queriedFields>
        <queriedFields>Billing_Zipcode_old__c</queriedFields>
        <queriedFields>Billing_Country_old__c</queriedFields>
        <queriedFields>In_Home_Streaming__c</queriedFields>
        <queriedFields>Probability2__c</queriedFields>
        <queriedFields>Date_Assigned__c</queriedFields>
        <queriedFields>Sales_Development_Lead2__c</queriedFields>
        <queriedFields>Property_Style_v2__c</queriedFields>
        <queriedFields>Sales_Follow_Up__c</queriedFields>
        <queriedFields>Market__c</queriedFields>
        <queriedFields>Information_Quality__c</queriedFields>
        <queriedFields>Information_Quality_Notes__c</queriedFields>
        <queriedFields>Construction_Project__c</queriedFields>
        <queriedFields>Property_Type_v2__c</queriedFields>
        <queriedFields>Property_Sub_Type_v2__c</queriedFields>
        <queriedFields>Other_Property_Details__c</queriedFields>
        <queriedFields>Commercially_Reasonable__c</queriedFields>
        <queriedFields>Static_IP_assigned__c</queriedFields>
        <queriedFields>Target_Construction_Start_Date__c</queriedFields>
        <queriedFields>Previous_Stage__c</queriedFields>
        <queriedFields>ROE_Construction_Deadline__c</queriedFields>
        <queriedFields>GFTT_Ticket_ID__c</queriedFields>
        <queriedFields>Key_Issues__c</queriedFields>
        <queriedFields>ValidationOverride__c</queriedFields>
        <queriedFields>Reason_for_Challenged_Deal__c</queriedFields>
        <queriedFields>Details_of_Challenge__c</queriedFields>
        <queriedFields>Property_ScoreGrade_for_AA_signing__c</queriedFields>
        <queriedFields>Opportunity_Exists__c</queriedFields>
        <queriedFields>Probability_PL__c</queriedFields>
        <queriedFields>Billing_City__c</queriedFields>
        <queriedFields>Billing_State__c</queriedFields>
        <queriedFields>Billing_Street__c</queriedFields>
        <queriedFields>Billing_Zip_Code__c</queriedFields>
        <queriedFields>Billing_Contact__c</queriedFields>
        <queriedFields>Billing_Email__c</queriedFields>
        <queriedFields>Billing_Phone__c</queriedFields>
        <queriedFields>Construction_Complete_Date__c</queriedFields>
        <queriedFields>BoT_Signed__c</queriedFields>
        <queriedFields>Contract_Expiration_Date__c</queriedFields>
        <queriedFields>Lost_Opportunity_reason__c</queriedFields>
        <queriedFields>Details_of_Lost_Opportunity__c</queriedFields>
        <queriedFields>Estimated_Date_of_Greenfield_Completion__c</queriedFields>
        <queriedFields>Defferred_Billing_Offered__c</queriedFields>
        <queriedFields>Date_110__c</queriedFields>
        <queriedFields>Days_to_Info_Collected__c</queriedFields>
        <queriedFields>DriveFolderId__c</queriedFields>
        <queriedFields>Drive_Folder_Link__c</queriedFields>
        <queriedFields>Days_from_100_to_ULF__c</queriedFields>
        <queriedFields>Construction_Start_Date__c</queriedFields>
        <queriedFields>Contract_Offered__c</queriedFields>
        <queriedFields>NDA_received__c</queriedFields>
        <queriedFields>Item_1_Button__c</queriedFields>
        <queriedFields>Construction_Notes__c</queriedFields>
        <queriedFields>Metro_Area__c</queriedFields>
        <queriedFields>Account_Parent_ID__c</queriedFields>
        <queriedFields>Days_at_10__c</queriedFields>
        <queriedFields>Days_at_50__c</queriedFields>
        <queriedFields>Days_at_90__c</queriedFields>
        <queriedFields>Item_2A1__c</queriedFields>
        <queriedFields>Item_2B1__c</queriedFields>
        <queriedFields>Item_1A__c</queriedFields>
        <queriedFields>Item_1B__c</queriedFields>
        <queriedFields>Item_3A__c</queriedFields>
        <queriedFields>Item_3B__c</queriedFields>
        <queriedFields>Item_3C__c</queriedFields>
        <queriedFields>Item_3D__c</queriedFields>
        <queriedFields>Item_3E__c</queriedFields>
        <queriedFields>WonLost__c</queriedFields>
        <queriedFields>Item_2_Button__c</queriedFields>
        <queriedFields>Item_3_button__c</queriedFields>
        <queriedFields>Sub_Stage__c</queriedFields>
        <queriedFields>Pre_Close_Quota_Weight__c</queriedFields>
        <queriedFields>Post_Close__c</queriedFields>
        <queriedFields>ROE_Signed__c</queriedFields>
        <queriedFields>GCLID__c</queriedFields>
        <queriedFields>Final_Close_Amount__c</queriedFields>
        <queriedFields>Closed_before_sales_close_date__c</queriedFields>
        <queriedFields>Date_05__c</queriedFields>
        <queriedFields>Date_25__c</queriedFields>
        <queriedFields>Days_at_5__c</queriedFields>
        <queriedFields>Days_at_25__c</queriedFields>
        <queriedFields>ULF_Link__c</queriedFields>
        <queriedFields>MDU_EMP_Sent__c</queriedFields>
        <queriedFields>MDU_EMP_Include__c</queriedFields>
        <queriedFields>Total_Touchpoints__c</queriedFields>
        <queriedFields>All_Pre_Qual_Survey_s_Complete__c</queriedFields>
        <queriedFields>All_ULF_Complete__c</queriedFields>
        <queriedFields>Brand_Collateral_Distributed__c</queriedFields>
        <queriedFields>Construction_Hand_Off_Completed__c</queriedFields>
        <queriedFields>Date_All_Pre_qual_Survey_s_Complete__c</queriedFields>
        <queriedFields>Date_All_Property_Data_Complete__c</queriedFields>
        <queriedFields>Date_All_Property_Data_Verified__c</queriedFields>
        <queriedFields>Date_All_ULF_s_Complete__c</queriedFields>
        <queriedFields>Date_Collateral_Complete__c</queriedFields>
        <queriedFields>Date_Construction_Hand_Off_Completed__c</queriedFields>
        <queriedFields>Date_Contract_Sent__c</queriedFields>
        <queriedFields>Date_Contract_Signed__c</queriedFields>
        <queriedFields>Date_Decision_Maker_Contacted__c</queriedFields>
        <queriedFields>Date_Deliver_pitch_meeting__c</queriedFields>
        <queriedFields>Date_Estimated_Contract_Close_Date_Compl__c</queriedFields>
        <queriedFields>Date_Followup_Activity_Scheduled__c</queriedFields>
        <queriedFields>GFB_Contains_Priority__c</queriedFields>
        <queriedFields>Date_Pitch_Meeting_Confirmed__c</queriedFields>
        <queriedFields>Date_Pre_Meeting_Materials_Sent__c</queriedFields>
        <queriedFields>Date_Pre_Pitch_Meeting_Document_Complete__c</queriedFields>
        <queriedFields>Date_Pre_Pitch_Meeting_Dry_Run_with_Team__c</queriedFields>
        <queriedFields>GFB_Count_of_Properties__c</queriedFields>
        <queriedFields>Date_Send_initial_term_sheet__c</queriedFields>
        <queriedFields>Date_Term_Sheet_Agreed_Upon__c</queriedFields>
        <queriedFields>Date_Value_Prop_Complete__c</queriedFields>
        <queriedFields>Decision_Maker_Contacted__c</queriedFields>
        <queriedFields>Deliver_pitch_meeting__c</queriedFields>
        <queriedFields>Estimated_Contract_Close_Date_Completed__c</queriedFields>
        <queriedFields>Final_Contract_Sent__c</queriedFields>
        <queriedFields>Final_Contract_Signed__c</queriedFields>
        <queriedFields>Followup_Activity_Scheduled__c</queriedFields>
        <queriedFields>Gatekeeper_Contacted__c</queriedFields>
        <queriedFields>Hot_Cold__c</queriedFields>
        <queriedFields>MDU_Interest_Survey_Complete__c</queriedFields>
        <queriedFields>GFB_Done_Patch__c</queriedFields>
        <queriedFields>Number_of_Utility_Lines__c</queriedFields>
        <queriedFields>Objections_Handled__c</queriedFields>
        <queriedFields>Objections_Logged__c</queriedFields>
        <queriedFields>Pitch_Meeting_Confirmed__c</queriedFields>
        <queriedFields>Pre_Meeting_Materials_Sent__c</queriedFields>
        <queriedFields>Pre_Pitch_Meeting_Document_Completed__c</queriedFields>
        <queriedFields>Pre_Pitch_Meeting_Dry_Run_with_Team_Mgr__c</queriedFields>
        <queriedFields>GFB_Forecast_Total_of_Units__c</queriedFields>
        <queriedFields>Products_Offered__c</queriedFields>
        <queriedFields>GFB_ISO_Marketing_Campaign__c</queriedFields>
        <queriedFields>Send_initial_term_sheet__c</queriedFields>
        <queriedFields>Survey_Access_Agreement_Signed__c</queriedFields>
        <queriedFields>Term_Sheet_Agreed_Upon__c</queriedFields>
        <queriedFields>Value_Proposition__c</queriedFields>
        <queriedFields>Total_Unresolved_Objections__c</queriedFields>
        <queriedFields>Date_Gatekeeper_Contacted__c</queriedFields>
        <queriedFields>Date_Products_Offered__c</queriedFields>
        <queriedFields>Date_Survey_Access_Agreement_Signed__c</queriedFields>
        <queriedFields>GFB_Inside_Wiring_Details__c</queriedFields>
        <queriedFields>GFB_IsMTUPropertyIncluded__c</queriedFields>
        <queriedFields>Simba_Link__c</queriedFields>
        <queriedFields>Total_Accepted_Promotions__c</queriedFields>
        <queriedFields>Estimated_Cost_HHP__c</queriedFields>
        <queriedFields>GFB_Last_Activity_Date__c</queriedFields>
        <queriedFields>GFB_Priority_Units__c</queriedFields>
        <queriedFields>GFB_Property_Number_of_Units_Rollup__c</queriedFields>
        <queriedFields>GFB_Property_Qualification_Status__c</queriedFields>
        <queriedFields>GFB_Special_Deal_Stipulations__c</queriedFields>
        <queriedFields>GFB_Special_Deal_Type__c</queriedFields>
        <queriedFields>GFB_PM_Owner__c</queriedFields>
        <queriedFields>GFB_ROE_Hut_Order__c</queriedFields>
        <queriedFields>Number_of_Extra_FJs__c</queriedFields>
        <queriedFields>ROE_Link__c</queriedFields>
        <queriedFields>Named_Partner_Account__c</queriedFields>
        <queriedFields>Partner_Engineer__c</queriedFields>
        <queriedFields>Part__c</queriedFields>
        <queriedFields>Requalified_By_SMB_Rep__c</queriedFields>
        <queriedFields>Date_Needs_Requal_Escalation__c</queriedFields>
        <queriedFields>Date_Requalified__c</queriedFields>
        <queriedFields>Days_to_Requal__c</queriedFields>
        <queriedFields>Rep100__c</queriedFields>
        <queriedFields>Check_Close_Date__c</queriedFields>
        <queriedFields>Stretch_Probability__c</queriedFields>
        <queriedFields>affectlayer__AffectLayer_Notes__c</queriedFields>
        <queriedFields>CSAT_POC__c</queriedFields>
        <queriedFields>Date_CSAT_Survey_Sent__c</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>SObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>SObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
